language: php

php:
  - 5.6
  - 7.0

services:
  - mysql

before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test;'

before_script:
  - composer self-update
  - composer install --no-interaction --prefer-source

script:
  - mysql -uroot test < ./sql/db_1.sql
  - phpunit --configuration ./test/phpunit.xml
  


